/*******************
  FONTS 
********************/
@font-face{
  font-family: "GilroyBold";
  src: url("../fonts/gilroy/gilroyextrabold.woff") format("woff");
  src: url("../fonts/gilroy/Gilroyextrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "GilroySlim";
  src: url("../fonts/gilroy/gilroylight.woff") format("woff");
  src: url("../fonts/gilroy/gilroylight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.main-text{
  font-family: "Open Sans", "Vardana", "Arial", sans-serif;
  font-size: 15px;
  color: black;
} 
.main-text--grey{
  color: #7a7a7a;
}
.opensans-small{
  font-family: "Open Sans", "Vardana", "Arial", sans-serif;
  font-size: 14px;
}
.main-text--white{
  color: white;
  letter-spacing: -0.25px;
}
.main-text--small{
  font-size: 13px;
}
.text-link{
  font-family: "GilroyBold", "Times New Roman", "Georgia", serif;
  font-size: 18px;
  color: black;
}
.text-link--white{
  color: white;
}
.text-link--small{
  font-size: 15px;
  letter-spacing: 0.6px;
}
.text-link--specing-uppercase{
  letter-spacing: 4px;
  text-transform: uppercase;
}
.gilroy-slim{
  font-family: "GilroySlim", "Times New Roman", "Georgia", serif;
  font-size: 36px;
  color: black;
}
.gilroy-slim--grey-small{
  font-size: 14px;
  color: #d1d0d0;
}
.big-title{
  font-family: "GilroyBold", "Times New Roman", "Georgia", serif;
  font-size: 47px;
  color: black;
}
.big-number{
  font-family: "GilroyBold", "Times New Roman", "Georgia", serif;
  font-size: 180px;
  color: white;
}
body{
  font-family: "Open Sans", "Vardana", "Arial", sans-serif;
  font-size: 15px;
  color: black;
}
a{
  text-decoration: none;
}

/*******************
  HIDDEN 
********************/
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*******************
  BLOCK-CENTER 
********************/
.block-center{
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 1160px;
}

/*******************
  HEADER 
********************/
.header{
  padding-top: 40px;
}

/*******************
  NAVIGATION
********************/
.navigation{
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; 
  background-color: #f7e296;  
  min-height: 185px;
  position: relative;
}
.navigation__logo{
  position: relative;
  top: -18px;
  left: 0px;
}
.navigation__logo:hover{
  opacity: 0.5;
}
.navigation__logo:active{
  opacity: 0.2;
}

/*******************
  USER-NAVIGATION 
********************/
.user-navigation{
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 31px;   /* "прозрачная" рамка снизу ( чтобы строки не сьезжали при нажатии на форму) */
}
.user-navigation__nav{
  margin: 0;
  padding: 0;
  width: 498px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
}
.user-navigation__nav li{
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.user-navigation__search{
  position: relative;
  padding-left: 3px;
  width: 440px;
  border-bottom: 2px solid #f7e296;   /*чтобы снизу ничего не сьезжало при нажатии на форму*/
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: -2px;
}
.user-navigation__nav a{
  padding-bottom: 6px;
}
.user-navigation__login{
  width: 230px;
  margin-right: 55px;
  margin-bottom: -1px;
}
/*****************************/
.user-navigation__login:hover .user-navigation__login--in,
.user-navigation__login .login-out,
.user-navigation__person:hover{
  opacity: 0.5;
}
.user-navigation__login .user-navigation__login--in,
.user-navigation__login .login-out:hover{
  opacity: 1;
}
.user-navigation__login:active .user-navigation__login--in,
.user-navigation__login .login-out:active,
.user-navigation__person:active{
  opacity: 0.2;
}
/*****************************/
.user-navigation__login .user-navigation__image-svg{
  margin-right: 13px;
  margin-left: -2px;
}
.user-navigation__login--in .user-navigation__image-svg{
  margin-right: 8px;
}
.user-navigation__login--out .login-out{ 
  margin-left: 18px;
}
.user-navigation__login--out .user-navigation__image-svg{
  margin-right: 7px;
}
.user-navigation__login--out .login-out,
.user-navigation__login--out .user-navigation__person{
  padding-bottom: 6px;
}
.user-navigation__compare{
  margin-right: 40px;
}
.user-navigation__compare .user-navigation__image-svg,
.user-navigation__basket .user-navigation__image-svg{
  margin-right: 6px;
}
.user-navigation__compare:hover,
.user-navigation__basket:hover{
  opacity: 0.5;
}
.user-navigation__compare:active,
.user-navigation__basket:active{
  opacity: 0.2;
}
.user-navigation__basket a{
  margin-right: -2px;
}

/********************
  FORM-SEARCH
********************/
.form-search{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  width: 440px;
}
.form-search__input{
  border: 0;
  border-bottom: 2px solid transparent;
  background-color: #f7e296;
  opacity: 0.2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 19px;
}
.form-search__input:hover{
  opacity: 0.5;
}
.form-search__input:focus{
  border-bottom: 2px solid black;
  opacity: 1;
}
 /****** SEARCH-BUTTON******/
.form-search__button{
  display: none;
  width: 85px;
  background-color: #f7e296;
  border: 2px solid black; 
}
.form-search__input:focus + .form-search__button{
  display: block;
}
.form-search__button:hover{
  background-color: black;
  color: white;
}
.form-search__img{
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  z-index: 1;
}

/*******************
  SITE-NAVIGATION 
********************/
.site-navigation{
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
}
.site-navigation--bottom{
  margin-bottom: 163px;
}
.site-navigation--bottom .text-link--specing-uppercase{
  letter-spacing: 3.5px;
}
.site-navigation--catalog .text-link--specing-uppercase{
  letter-spacing: 3.6px;
}
.site-navigation__catalog{
  margin-right: auto;
}
.site-navigation__name-catalog{
  display: block;
  position: relative;
}
.site-navigation__name-catalog:after,
.site-navigation__name-catalog:before{
  content: '';
  display: block;
  background-color: #b8a974;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -29px;
}
.site-navigation__name-catalog:after{
  width: 16px;
  height: 2px;
}
.site-navigation__name-catalog:before{
  width: 2px;
  height: 16px;
  right: -22px;
}
.site-navigation__extra-catalog{
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 165px;
  background-color: #f7e296;
  z-index: 1;
}
.site-navigation__extra-catalog li{
  margin: 0;
  padding: 0;
  padding-top: 25px;
}
.site-navigation__delivery{
  margin-right: 35px;
}
.site-navigation__garanty{
  margin-right: 110px;
}
.site-navigation__contact{
  margin-right: -3px;
}
.site-navigation--catalog .site-navigation__garanty{
  margin-right: 108px;
}
.site-navigation__name-catalog:hover,
.site-navigation__delivery:hover,
.site-navigation__garanty:hover,
.site-navigation__contact:hover{
  opacity: 0.5;
}
.site-navigation__name-catalog:active,
.site-navigation__delivery:active,
.site-navigation__garanty:active,
.site-navigation__contact:active{
  opacity: 0.2;
}

/*******************
  EXTRA-CATALOG
********************/
.extra-catalog-group1,
.extra-catalog-group2,
.extra-catalog-group3{
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.extra-catalog-group3{
  -ms-flex-preferred-size: 52%;
  flex-basis: 52%;
}
.extra-catalog-group1 li:hover,
.extra-catalog-group2 li:hover,
.extra-catalog-group3 li:hover{
  opacity: 0.5;
}
.site-navigation__catalog:hover .site-navigation__extra-catalog{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: space-evenly; 
  -ms-flex-pack: space-evenly; 
  justify-content: space-evenly;
}
.extra-catalog-group1 li:active,
.extra-catalog-group2 li:active,
.extra-catalog-group3 li:active{
  opacity: 0.2;
}

/*********************
 ADVERTISING 
**********************/
.advertising ul{
  margin: 0;
  padding: 0;
}
.advertising__var-1,
.advertising__var-2,
.advertising__var-3{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -108px;
  margin-bottom: 102px;
}
.advertising__var-2,
.advertising__var-3{
  display: none;
}
.advertising__colum1{
  margin: 0;
  padding: 0;
  width: 560px;
  padding-left: 2px;
  text-align: center;
}
.advertising__colum2{
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 38px;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.advertising__colum2--var3{
  margin-left: 76px;
}
.advertising__big-number{
  margin: 0;
  padding: 0;
  position: absolute;
  top: -28px;
  right: 48px;
}
.advertising__title{
  margin-bottom: 20px;
  line-height: 1.2;
  letter-spacing: 0.85px;
  z-index: 0;
}
.advertising__title::before{
  content: "" ;
  position: absolute;
  top: 37px;
  right: 460px;
  width: 100px;
  height: 7px;
  background-color: white;
}
.advertising__text{
  margin: 0;
  padding: 0;
  width: 495px;
  line-height: 30px;
  margin-bottom: 43px;
  letter-spacing: -0.15px;
}
.advertising__details{
  position: relative;
  width: 220px;
  letter-spacing: 3.85px; 
  padding-left: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  z-index: 1;
}
.advertising__details:hover{
  background-color: #f0c52e;
}
.advertising__details:active{
  opacity: 0.5;
}
.advertising__table-row1 td{
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
}
.advertising__table-row1 td,
.advertising__table-row2 td{
  margin: 0;
  padding-right: 74px;
}

/*********************
  SLIDER
**********************/
.slider__wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 54px;
}
.slider__control-items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
}
.advertising .slider__control-items{
  margin-right: 17px;
}
.slider__control-item{
  width: 32px;
  position: relative;
}
.slider__control-item:before,
.slider__control-item--active:after{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #363636;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slider__control-item--active:after{
  width: 4px;
  height: 4px;
}

/*********************
  CROSSED-OUT
**********************/
.crossed-out::before{
  content: "";
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 40%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

/*********************
 MAIN-INDEX__MENU 
**********************/
.main-index__menu{
  margin-bottom: 180px;
}

/*********************
 INDEX-MENU
**********************/
.index-menu__products{
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}
.index-menu__item{
  line-height: 25px;
  width: 160px;
}
.index-menu__background{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 160px;
  background-color: #f7e296;
  margin-bottom: 33px;
}
.index-menu__background--bottom{
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.index-menu__item:hover .index-menu__background{
background-color: #f0c52e;
}
.index-menu__item:hover svg{
  opacity: 0.9;
}
.index-menu__item:active .text-link,
.index-menu__item:active svg{
  opacity: 0.2;
}

/*********************
 MAIN-INDEX__SERVICE
**********************/
.main-index__service{
  min-height: 288px;
  background-color: #e5e5e5;
  margin-bottom: 94px;
  min-width: 1200px;
}

/*********************
 SERVICE
**********************/
.service__garanty,
.service__credit,
.service__img-2,
.service__img-3{
  display: none;
}
.service__content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -33px;
  z-index: 1;
}
.service__first-column{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 280px;
  margin-right: 121px;
}
.service__first-column::after{
  content: "";
  position: relative;
  top: -116px;
  left: 122px;
  height: 7px;
  width: 319px;
  background: black;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
} 
.service__main-title{
  position: relative;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  width: 160px;
  margin-bottom: 25px;
  padding-left: 3px;
}
.service__main-title:first-child{
  margin-top: 13px; 
}
.service__main-title:hover{
  background-color: #f0c52e;
}
.service__main-title:active{
  background-color: black;
}
.service__main-title:active .text-link{
  color: white;
}
.service__main-title:active::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 160px;
  width: 120px;
  height: 39px;
  background-color: black;
}
.service__main-title:nth-child(2):active::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 160px;
  width: 120px;
  height: 40px;
  background-color: black;
}
.service__second-column{
  margin: 0;
  padding: 0;
  width: 460px;
  margin-right: 98px;
  list-style-type: none; 
  padding-top: 3px; 
}
.service__title{
  margin: 0;
  padding: 0;
  width: 260px;
  letter-spacing: 1px;
  margin-bottom: 27px;
}
.service__text{
  width: 440px;
  line-height: 30px;
}
.service__images{
  margin: 0;
  padding: 0;
  margin-top: -9px;
  list-style: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

/*********************
  MANUFACTURER
**********************/
.manufacturer__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 139px;
}

/*********************
  INDEX-PARTNERS
**********************/
.index-partners__img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
}
.index-partners__img:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

/*********************
  INFO
**********************/
.info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 82px;
}

/*********************
  ABOUT
**********************/
.about{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 495px;
}
.about__title{
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.about__title::before{
  content: "";
  position: absolute;
  top: -49px;
  left: 1px;
  width: 80px;
  height: 7px;
  background-color: black;
}
.about__text1{
  margin: 0;
  padding: 0;
  word-spacing: -1px;
  width: 460px;
  line-height: 30px;
  margin-bottom: 30px;
}
.about__text2{
  margin: 0;
  padding: 0;
  line-height: 30px;
  margin-bottom: 72px;
}
.about__companies-list{
  margin: 0;
  padding: 0;
  list-style-type: circle;
  padding-left: 23px;
  margin-bottom: 48px;
}
.about__paragraphs{
  color: #d2d0d0; 
  padding-left: 15px;
  margin-bottom: 17px;
  font-size: 20px;
}
.about__detail{
  position: relative;
  width: 260px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 3.75px;
  padding-left: 2px;
}
.about__detail:hover{
  background-color: #f0c52e;
}
.about__detail:active{
  opacity: 0.5;
}

/*********************
  CONTACTS
**********************/
.contacts{  
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 562px;
}
.contacts__title{
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.contacts__title::before{
  content: "";
  position: absolute;
  top: -49px;
  left: 3px;
  width: 80px;
  height: 7px;
  background-color: black;
}
.contacts__text{
  margin: 0;
  padding: 0;
  line-height: 30px;
  word-spacing: -1px;
  margin-bottom: 40px;
}
.contacts__map{
  margin-right: 2px;
}
.contacts__img{
  background-color: #056321;
  min-height: 223px;
  margin-bottom: 64px;
  margin-right: 2px;
}
.contacts__write-to-us{
  position: relative;
  width: 260px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 3.75px;
  padding-left: 6px;
}
.contacts__write-to-us:hover{
  background-color: #f0c52e;
}
.contacts__write-to-us:active{
  opacity: 0.5;
}

/*********************
  FOOTER
**********************/
.footer{
  background-color: #464646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-width: 1200px;
}
.footer__first-row,
.footer__second-row,
.footer__third-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__first-row{
  padding-top: 65px;
  margin-bottom: 34px;
}
.footer__second-row{
  margin-bottom: 65px;
}
.footer__third-row{
  margin-bottom: 55px;
}

/*********************
  FOOTER-FIRST
**********************/
.footer-first__user-nav{
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
  min-width: 480px;
}
.footer-first__login{
  width: 224px;
  margin-left: auto;
  margin-right: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-first__login--index{
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.footer-first__compare{
  margin-right: 38px;
}
.footer-first__basket{
  min-width: 85px;
  text-align: right;
}
.footer-first__user-nav{
  margin-top: 4px;
}
.footer-first__person:active,
.footer-first__login .login-out{
  opacity: 0.2;
}
.footer-first__person:hover svg,
.footer-first__person span,
.footer-first__login .login-out:hover{
  opacity: 0.5;
}
.footer-first__person:hover span,
.footer-first__person svg,
.footer-first__login .login-out:active{
  opacity: 1;
}
.footer-first__login--index:hover span,
.footer-first__compare:hover span,
.footer-first__basket:hover span,
.footer-first__login--index svg,
.footer-first__compare svg,
.footer-first__basket svg{
  opacity: 1;
}
.footer-first__login--index:hover svg,
.footer-first__compare:hover svg,
.footer-first__basket:hover svg,
.footer-first__login--index span,
.footer-first__compare span,
.footer-first__basket span{
  opacity: 0.5;
}
.footer-first__login--index:active,
.footer-first__compare:active,
.footer-first__basket:active{
  opacity: 0.2;
}
.footer-first__image{
  margin-right: 7px;
}
.footer-first__login--index .footer-first__image,
.footer-first__login--after .footer-first__image{
 margin-right: 10px;
}
.footer-first__logo:hover{
  opacity: 0.5;
}
.footer-first__logo:active{
  opacity: 0.2;
}

/*********************
  FOOTER-SECOND
**********************/
.footer-second__site-nav{
  margin: 0 ; 
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 430px;
  line-height: 20px;
  list-style-type: none;
}
.f-addr{
  font-style: normal;
}
.footer-second__address-1{
  margin-right: 5px;
}
.footer-second__address-1,
.footer-second__address-2{
  min-width: 260px;
}
.footer-second__address-2{
  text-align: right;
}
.footer-second__site-nav li:hover{
  opacity: 0.5;
}
.footer-second__site-nav li:active{
  opacity: 0.2;
}

/*********************
  FOOTER-THIRD
**********************/
.footer-third__line{
  position: relative;
  min-width: 80px;
}
.footer-third__line::after{
  content: "";
  position: absolute;
  min-width: 80px;
  height: 7px;
  top: 15px;
  background-color: #ffc600;
}
.footer-third__social{
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style-type: none;
  min-width: 160px;
}
.footer-third__social li{ 
  opacity: 0.5;
}
.footer-third__social li:hover{
  opacity: 0.7;
}
.footer-third__social li:active{
  opacity: 0.2;
}
.footer-third__copyright{
  width: 80px;
  text-align: right;
}
.HTML-academy:hover{
  opacity: 0.5;
}
.HTML-academy:active{
  opacity: 0.2;
}

/*********************
  MONOPODS
**********************/
.monopods{
  margin-bottom: 50px;
}
.monopods__title{
  font-size: 47px;
  padding-left: 60px;
  padding-top: 4px;
  margin-bottom: 24px;
  letter-spacing: 0.7px;
}
.monopods__breadcrumbs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  padding-left: 60px;
}
.monopods__breadcrumbs li{
  letter-spacing: -0.5px;
  margin-right: 39px;
  position: relative;
}
.monopods__breadcrumbs .breadcrumbs-current{
  width: 160px;
  margin-left: -1px;
  opacity: 0.5;
  letter-spacing: -0.2px;
}
.monopods__breadcrumbs .breadcrumbs__catalog--lettersp{
  letter-spacing: -0.1px;
}
.monopods__breadcrumbs li:nth-child(n+2)::before{
  content: "";
  position: absolute;
  border-right: 1px solid black;
  border-top: 1px solid black;
  height: 4px;
  width: 4px;
  left: -24px;
  top: 7px;
  opacity: 1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.monopods__breadcrumbs li:last-of-type{
  padding-top: 2px;
}
.monopods__breadcrumbs li:last-of-type::before{
  left: -22px;
}
.monopods__breadcrumbs a{
  opacity: 0.5;
}
.monopods__breadcrumbs a:hover{
  opacity: 1;
}
.monopods__breadcrumbs a:active{
  opacity: 0.2;
}

/*********************
  FILTER-CATALOG
**********************/
.filter-catalog{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1200px;
}

/*********************
  FILTER
**********************/
.filter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #eeeeee;
  min-height: 1287px;
  width: calc(50% - 249px); 
}
.filter__title-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70px;
  background-color: #dbdbdb;
}
.filter__title{
  text-align: right;
  padding-right: 175px;
  font-size: 16px;
  letter-spacing: 3.8px;
}
.filter__title span{
  margin: 0;
  margin-left: 15px; /*чтобы при уменьшении окна браузера форма не улетала влево*/
}
.filter__main-form{
  margin: 0;
  padding: 0;
  margin-top: 69px;
  margin-right: 64px;
}
.filter__main-form fieldset{
  border: none;
}

/*********************
  MAIN-FILTER
**********************/
.main-filter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 203px;
}
.main-filter legend{
  border-top: 2px solid black;
  padding-top: 8px;
  line-height: 29px;
  width: 200px;
  letter-spacing: 0.15px;
}
.main-filter__butten-show{
  z-index: 0;
  position: relative;
  text-align: center;
  line-height: 40px;
}
.main-filter__butten-show button{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.main-filter__butten-show:hover{
  background-color: #f0c52e;  
}
.main-filter__butten-show:active .butten-show{
  opacity: 0.5;
}

/*********************
  COST-FORM
**********************/
.cost-form{
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  border: none;
}
.cost-form__range-filter{
  margin-top: -2px;
}
.cost-form__range-controls{
  position: relative;
  padding-bottom: 12px;
}
.cost-form__range-controls .scale{
  height: 2px;
  background: #d9d9d9;
}
.cost-form__range-controls .bar{
  height: 2px;
  width: 55%;
  background: #91c92f;
}
.cost-form__range-controls .toggle{
  position: absolute;
  top: -10px;
  left: -5px;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #b1b1b1;
  border:  8px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #dadada;
  box-shadow: 0 2px 1px 0 #dadada;
  cursor: pointer; 
}
.cost-form__range-controls .toggle:active{
  border:  9px solid white;
}
.cost-form__range-controls .toggle-max{
  left: 108px;
}
.cost-form__legend--price{
  padding-top: 8px;
  padding-bottom: 33px;
}
.cost-form__price-controls{
  font-size: 0;
}
.cost-form__price-controls label{
  display: inline-block;  
  width: 45%;
  vertical-align: middle;
  padding-left: 12px;
}
.cost-form__price-controls:last-child label{
  margin-left: -13px;
}
.cost-form__price-controls input{
  width: 60px;
  background: none;
  border: none;
}

/*********************
  COLOR-FORM
**********************/
.color-form{
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
}
.color-form label{
  height: 26px;
  letter-spacing: -1px;
}
.color-form__checkbox{
  padding-top: 27px;
}
.color-form__checkbox:nth-child(n+3){
  padding-top: 21px;
}
.color-form__input + label::before{
  content: "\2714";
  color: transparent;
  display: inline-block;
  position: relative;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 25px;  
  line-height: 15px;
  margin: -5px 15px 0 0;
  height: 19px;
  width: 19px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: color ease .3s;
  -o-transition: color ease .3s;
  transition: color ease .3s;
}
.color-form__input:hover + label::before{
  opacity: 0.5;
}
.color-form__input:active + label::before{
  opacity: 1;
  color: black;
}
.color-form__input:checked + label::before{
  color: black;
  font-weight: bold;
}
.color-form__input:checked:hover + label::before{
  opacity: 0.5;
}
.color-form__input:checked:active + label::before{
  color: transparent;
  opacity: 1;
}
.color-form__input:focus + label::before{
  outline: 2px solid rgb(103, 103, 243);
}
  
/*********************
  BLUETOOTH-FORM
**********************/
.bluetooth-form{
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
}
.bluetooth-form__radio{
  padding-top: 26px;
  margin-left: -2px;
}
.bluetooth-form__radio:nth-child(n+3){
  padding-top: 20px;
}
.bluetooth-form__input + label::before{
  content: "\25CF";
  border: 4px solid black;
  border-radius: 50%;
  display: inline-block;
  line-height: 12px;
  margin: -5px 15px 0 0;
  height: 17px;
  width: 17px;
  text-align: center;
  vertical-align: middle;
  font-size: 0;    
  -webkit-transition: font-size ease .3s;    
  -o-transition: font-size ease .3s;    
  transition: font-size ease .3s;
}
.bluetooth-form__input:checked + label::before{
  font-size: 22px;
}
.bluetooth-form__input:checked:hover + label::before{
  opacity: 0.5;
}
.bluetooth-form__input:checked:active + label::before{
  opacity: 1;
  font-size: 0px;
}
.bluetooth-form__input:hover + label::before{
  opacity: 0.5;
}
.bluetooth-form__input:active + label::before{
  opacity: 1;
  font-size: 22px;
}
.bluetooth-form__input:focus + label::before{
  outline: 2px solid rgb(103, 103, 243);
}

/*********************
  CATALOG-LIST
**********************/
.catalog-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 1287px;
  width: calc(50% + 261px);
}
.catalog-list__sort{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eeeeee;
  height: 70px;
}

/*********************
  SORT
**********************/
.sort__title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 780px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 72px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sort__choice{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: auto;
}
.sort__label{
  font-size: 16px;
  padding-left: 2px;
  letter-spacing: 3.5px;
  margin-right: 51px;
}
.sort__choice a:active{
  color: black;
}
.sort__choice a:hover{
  opacity: 1;
}
.sort__choice a{
  opacity: 0.5;
  margin-right: 30px;
}
.sort__choice a:first-of-type{
  color: black;
  opacity: 1;
}
.sort__type-of-sort{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 80px;
}
.sort__type-of-sort .sort__increace::before{
  content: "";
  display: inline-block;
  line-height: 15px;
  border: 6px solid transparent; 
  opacity: 0.2;
  border-bottom: 10px solid black;
  vertical-align: 5px;
}
.sort__type-of-sort .sort__dicreace::before{
  content: "";
  display: inline-block;
  line-height: 15px;
  border: 6px solid transparent; 
  opacity: 1;
  border-top: 10px solid black;
  vertical-align: -8px;
}
.sort__type-of-sort .sort__dicreace:hover::before,
.sort__type-of-sort .sort__increace:hover::before{
  opacity: 0.5;
}
.sort__type-of-sort .sort__dicreace:active::before,
.sort__type-of-sort .sort__increace:active::before{
  opacity: 1;
}

/*********************
  CATALOG-LIST
**********************/
.catalog-list__list{
  width: 760px; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 74px;
  padding-top: 70px;
}

/*********************
  LIST
**********************/
.list__itemS{
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -2px;
}
.list__item{
  position: relative;
  margin-bottom: 47px;
}
.list__item:hover .list__img{
  opacity: 0.5;
}
.list__item--new{
  position: absolute;
  bottom: 370px;
  right: 26px;
  padding: 21px 11px;
  font-size: 14px;
  letter-spacing: 1px;
  border: 2px solid black;
  border-radius: 50%;
  opacity: 0.2;
}
.list__item:hover .list__act{
  z-index: 1;
}
.list__act{
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); 
}
.list__item a{
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}
.list__item .list__img{
  margin-bottom: 28px;
}
.list__item .list__button{
  position: relative;
  line-height: 40px;
  width: 200px;
  margin-bottom: 15px;
  cursor: pointer;
}
.list__button span{
  position: relative;
  width: 200px;
  text-align: center;
}
.list__button:hover{
  background-color: #f0c52e;  
}
.list__button:active .text-link{
  opacity: 0.5;
}
.list__compare{
  width: 150px;
  line-height: 20px;
  font-size: 13px;
  opacity: 0.5;
}
.list__compare:hover{
  opacity: 1;
}
.list__compare:active{
  opacity: 0.2;
}
.list__item-title{
  padding: 0;
  margin: 0;
  width: 260px;
  line-height: 24px;
  margin-left: -2px;
  letter-spacing: 0.3px;
}
.list__item-title_2{
  width: 180px;
}
.list__item-price{
  font-size: 16px;
  color: #464646;
  padding-top: 4px;
  padding-right: 2px;
}

/*********************
  PAGINATION
**********************/
.pagination,
.pagination__numberS{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.pagination{
  background-color: #eeeeee;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70px;
  margin-top: -10px;
}
.pagination__numberS{
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.pagination__word,
.pagination__number{
  font-size: 16px;
}
.pagination__word{
  width: 130px;
  min-height: 70px;
  line-height: 70px;
  text-align: center;
  vertical-align: middle;
}
.pagination__word:hover{
  background: #d9d9d9;
}
.pagination__word:active{
  opacity: 0.5;
}
.pagination__number{
  opacity: 0.2;
}
.pagination__number:hover{
  opacity: 0.5;
}
.pagination__number:active{
  opacity: 1;
}
.pagination__number .text-link:focus{
  outline: 2px solid blue;
}
.pagination__numberS .pagination-item-current,
.pagination__numberS .pagination-item-current:hover,
.pagination__numberS .pagination-item-current:active{
  color: black;
  opacity: 1;
}

/*********************
  BOUNCE
**********************/
@-webkit-keyframes bounce{
  0%{
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70%{
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce{
  0%{
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70%{
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*********************
  SHAKE
**********************/
@-webkit-keyframes shake{
  0%,
  100%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90%{
    -webkit-transform: translateX(-10px);
    transform: translateX(-20px);
  }
  20%,
  40%,
  60%,
  80%{
    -webkit-transform: translateX(10px);
    transform: translateX(20px);
  }
}
@keyframes shake{
  0%,
  100%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90%{
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80%{
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

/*********************
  MODAL
**********************/
.modal__close{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: #f0c52e;
  border: 0;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 2;
  cursor: pointer;
}
.modal__close:hover{
  opacity: 1;
}
.modal__close:active{
  opacity: 0.2;
}
.modal__close::before,
.modal__close::after{
  content: "";
  position: absolute;
  width: 32px;
  height: 3px;
  top: 45%;
  left: 22%;
  background-color: white;
}
.modal__close::before{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal__close::after{
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*********************
  MODAL-LETTER
**********************/
.modal-letter{
  display: none;
  position: fixed;
  max-width: 960px;
  min-height: 500px;
  top: 50%;
  left: 50%;
  margin-left: -430px;
  margin-top: -272px;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.modal-letter__message{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 80px;
}
.modal-letter__message input[type="text"],
.modal-letter__message input[type="email"],
.modal-letter__message textarea{
  border: 0;
  background-color: #ebebeb;
  opacity: 0.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  margin-top: 10px;
  padding: 10px 15px;
  padding-right: 40px;
}
.modal-letter__message input[type="text"]:hover,
.modal-letter__message input[type="email"]:hover,
.modal-letter__message textarea:hover{
  opacity: 1;
}
.modal-letter__message input[type="text"]:focus,
.modal-letter__message input[type="email"]:focus,
.modal-letter__message textarea:focus{
  background-color: white;
  outline: 3px solid #f7e296;
}
.modal-letter__text{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal-letter__text-3{
  margin-top: 30px;
}
.modal-letter__message textarea{
  width: 760px;
}
.modal-letter__button-send{
  position: relative;
  border: none;
  background-color: transparent;
  width: 200px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  margin-top: 30px;
}
.modal-letter__button-send:hover{
  background-color: #f0c52e;
}
.modal-letter__button-send:active .text-link{
  opacity: 0.5;
}

/*********************
  MODAL-MAP
**********************/
.modal-map{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 960px;
  height: 500px;
  margin-top: -250px;
  margin-left: -455px;
  border: 1px solid white;
  outline: 2px solid #d9d9d9;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*********************
  MODAL-SHOW
**********************/
.modal-show{
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

/*********************
  MODAL-ERROR
**********************/
.modal-error{
  -webkit-animation: shake 0.8s;
  animation: shake 0.8s;
}